@media screen and (max-width:1400px) {}

/* Scree Size 1200 Section Close============================================================================================================ */

@media screen and (max-width:1200px) {

    body {
        font-size: 18px;
    }

    .hero-title h1 {
        font-size: 65px;
    }

    .hero-inner {
        width: 70%;
    }

    ul.nav-wrapper {
        display: none;
    }

    .qr-code img {
        width: 100%;
    }

    .with-logo {
        padding: 15px 17px;
        top: -8%;
        left: 85%;
    }
}


/* Scree Size 992 Section Close============================================================================================================ */

@media screen and (max-width:992px) {
    .col-3.logo a img {
        width: 100%;
    }

    .hero-title h1 {
        font-size: 50px;
    }

    .with-logo {
        padding: 25px 28px;
        top: -5%;
        left: 75%;
    }

    h3.qr-title {
        margin-top: 30px;
    }

    .dowenload-btn button {
        padding: 21px 176px;
        margin-top: 50px;
    }

    .qr-code img {
        width: 75%;
    }

    .qr-code {
        margin-top: 60px;
    }

    .container-fluid {
        padding: 40px 0px;
    }
}

/* Scree Size 768 Section Close============================================================================================================ */

@media screen and (max-width:768px) {

    .hero-title h1 {
        font-size: 37px;
    }

    .hero-title p {
        font-size: 17px;
    }

    .dowenload-btn button {
        padding: 21px 109px;
    }

}

/* Scree Size 576 Section Close============================================================================================================ */

@media screen and (max-width:576px) {
    .col-3.logo a img {
        width: 130%;
    }

    .hero-title h1 {
        font-size: 27px;
    }

}