@media screen and (max-width:1400px) {}

/* Scree Size 1200 Section Close============================================================================================================ */

@media screen and (max-width:1200px) {

    body {
        font-size: 18px;
    }

    .hero-title h1 {
        font-size: 65px;
    }

    .hero-inner {
        width: 70%;
    }

    ul.nav-wrapper {
        display: none;
    }

    .qr-code img {
        width: 100%;
    }

    .with-logo {
        padding: 15px 17px;
        top: -8%;
        left: 85%;
    }

    .plan-check img {
        width: 4%;
    }


}


/* Scree Size 992 Section Close============================================================================================================ */

@media screen and (max-width:992px) {
    :root {
        --title-fs: 30px;

    }

    .col-3.logo a img {
        width: 100%;
    }

    .hero-title h1 {
        font-size: 50px;
    }

    .with-logo {
        padding: 28px 31px;
        top: -7%;
        left: 75%;
    }

    h3.qr-title {
        margin-top: 30px;
    }

    .dowenload-btn {
        width: 75%;
    }

    .dowenload-btn button {
        margin-top: 50px;
        border-radius: 6px;
    }

    .qr-code img {
        width: 75%;
    }

    .qr-code {
        margin-top: 60px;
    }

    .plan-title {
        padding: 30px 10px;
    }

    .plan-card {
        margin-bottom: 30px;
    }

    .plan-price-sec {
        padding-bottom: 20px;
    }

    .plan-check img {
        width: 6%;
    }

    .container-fluid {
        padding: 65px 0px;
    }

    .smart-card-title h1 {
        margin: 70px 0px 45px;
    }

    .security-sec {
        padding: 40px 0px;
    }

    .security-title h2 {
        margin-bottom: 37px;
    }
}

/* Scree Size 768 Section Close============================================================================================================ */

@media screen and (max-width:768px) {

    .hero-title h1 {
        font-size: 37px;
    }

    .hero-title p {
        font-size: 17px;
    }


    .plan-price-sec {
        padding-bottom: 10px;
    }

    .serial {
        display: none;
    }

    .plan-check img {
        width: 4%;
    }

    .project-inner-title {
        margin-top: 40px;
    }

    .big-size {
        display: none;
    }

    .small-size {
        display: block;
    }

    .card-p2, .card-p1 {
        padding: 10px;
    }

    .project-count-first {
        gap: 10px;
        margin-bottom: 0px;
    }

    .with-logo {
        padding: 22px 25px;
        top: -10%;
        left: 74%;
    }
}

/* Scree Size 576 Section Close============================================================================================================ */

@media screen and (max-width:576px) {
    .col-3.logo a img {
        width: 130%;
    }

    .hero-title h1 {
        font-size: 27px;
    }

    .project-inner-title h2 {
        font-size: 30px;
    }

    .plan-title h1 {
        font-size: 28px;
    }

    .with-logo {
        padding: 20px 23px;
        top: -10%;
        left: 75%;
    }


}