@media screen and (max-width:1400px) {}

/* Scree Size 1200 Section Close============================================================================================================ */

@media screen and (max-width:1200px) {

    body {
        font-size: 16px;
    }

    .row.navi-wrapper {
        padding: 18px 0px;
    }

    ul.nav-wrapper a {
        font-size: 16px;
    }

    .sign-up-btn button {
        padding: 9px 19px;
    }

    .login-btn button {
        padding: 6px 25px;
    }

    .hero-title h1 {
        font-size: 65px;
    }

    .hero-inner {
        width: 70%;
    }

    .qr-code img {
        width: 100%;
    }

    .with-logo {
        padding: 10px 20px;
        top: -11%;
        left: 84%;
    }

    .project-count {
        gap: 15px;
        padding: 10px;
    }






    .plan-check img {
        width: 4%;
    }

    .card-work-title p {
        width: 100%;
    }

    .work-card h3 {
        font-size: 25px;
        margin: 10px 0px;
    }

    .work-card {
        padding: 30px 10px 40px 10px;
    }
}


/* Scree Size 992 Section Close============================================================================================================ */

@media screen and (max-width:992px) {
    :root {
        --title-fs: 30px;
    }

    body {
        font-size: 14px;
    }

    .row.navi-wrapper {
        padding: 14px 0px;
    }

    .sign-up-btn button {
        padding: 6px 19px;
    }

    .login-btn button {
        padding: 4px 25px;
    }

    ul.nav-wrapper {
        display: none;
    }

    .col-3.logo a img {
        width: 100%;
    }

    .hero-title h1 {
        font-size: 42px;
    }

    .with-logo {
        padding: 22px 27px;
        top: -6%;
        left: 77%;
    }

    h3.qr-title {
        margin-top: 20px;
    }

    .dowenload-btn {
        width: 75%;
    }

    .dowenload-btn button {
        margin-top: 50px;
    }

    .qr-code img {
        width: 75%;
    }

    .qr-code {
        margin-top: 60px;
    }

    p.qr-genarat {
        font-size: 18px;
        padding: 19px 40px 19px 19px;
        margin-bottom: 30px;
    }

    .row.smart-card-inner {
        margin-bottom: 10px;
    }

    .project-inner-title h6 {
        font-size: 14px;
    }

    .project-count {
        gap: 15px;
        padding: 15px;
    }






    .plan-title {
        padding: 30px 10px;
    }

    .plan-card {
        margin-bottom: 30px;
    }

    .plan-price-sec {
        padding-bottom: 20px;
    }

    .plan-check img {
        width: 6%;
    }

    .smart-card-title h1 {
        margin: 50px 5px 10px 5px;
    }

    .security-sec {
        padding: 40px 0px;
    }

    .security-title h2 {
        margin-bottom: 37px;
    }

    .work-card h3 {
        font-size: 20px;
    }

    .work-card p, .card-work-title p {
        font-size: 14px;
        line-height: 150%;
    }

    .work-card {
        padding: 25px 10px 35px 10px;
    }

    .trust-title-para p {
        margin-top: -15px;
    }

    .trust-section {
        padding: 30px 0px;
    }

    .first, .sceond, .third, .forth {
        margin-bottom: 30px;
    }

    .sceond {
        padding-left: 10%;
    }

    .forth {
        padding-left: 10%;
    }

    .footer-logo img {
        width: 60%;
    }

    footer {
        padding: 35px 0px;
    }
}

/* Scree Size 768 Section Close============================================================================================================ */

@media screen and (max-width:768px) {

    :root {
        --title-fs: 25px;
    }


    body {
        font-size: 12px;
    }

    .row.navi-wrapper {
        padding: 12px 0px;
    }

    .col-9.nav-content {
        gap: 20px;
    }

    .sign-up-btn button {
        padding: 5px 18px;
    }

    .login-btn button {
        padding: 3px 23px;
    }

    .hero-title h1 {
        font-size: 30px;
    }

    .hero-title p {
        font-size: 14px;
        margin: 0px;
    }

    p.qr-genarat {
        font-size: 14px;
    }

    h3.qr-title {
        margin-top: 10px;
        font-size: 18px;
    }

    p.qr-para {
        font-size: 14px;
        margin: 5px 0px 18px;
    }

    p.qr-genarat {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .qr-code {
        margin-top: 40px;
    }

    .dowenload-btn button {
        margin-top: 40px;
    }

    .smart-card-title h1 {
        margin: 27px 5px 10px 5px;
        font-size: 25px;
    }

    h4.card-title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .project-count-inner h3 {
        font-size: 25px;
    }

    .project-count-inner p {
        font-size: 13px;
    }





    .plan-price-sec {
        padding-bottom: 10px;
    }

    .serial {
        display: none;
    }

    .plan-check img {
        width: 4%;
    }

    .project-inner-title {
        margin-top: 40px;
    }

    .big-size {
        display: none;
    }

    .small-size {
        display: block;
    }

    .card-p2, .card-p1 {
        padding: 10px;
    }

    .project-count-first {
        gap: 10px;
    }

    .with-logo {
        padding: 15px 16px;
        top: -7%;
        left: 76%;
    }

    .work-card {
        margin: 10px;
    }

    .col-md-4.worke-card {
        margin-bottom: 20px;
    }

    .container-fluid {
        padding: 55px 10px;
    }

    .sceond {
        padding-left: 10px;
    }

    .forth {
        padding-left: 10px;
    }


}

/* Scree Size 576 Section Close============================================================================================================ */

@media screen and (max-width:576px) {

    :root {
        --title-fs: 20px;
    }


    body {
        font-size: 10px;
        line-height: 210%;

    }

    .col-3.logo a img {
        width: 130%;
    }

    .col-9.nav-content {
        gap: 15px;
    }

    .hero-title h1 {
        font-size: 20px;
    }

    .container-fluid {
        padding: 20px 10px;
    }

    img.universal {
        width: 20px;
    }

    .dowenload-btn button {
        margin-top: 25px;
        padding: 15px;
    }

    .qr-wrapper {
        padding: 30px 30px;
    }

    .smart-card-title h1 {
        margin: 20px 5px 10px 5px;
        font-size: 20px;
    }

    h4.card-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .project-inner-title h2 {
        margin-bottom: 20px;
    }

    .project-count-inner h3 {
        font-size: 20px;
    }

    .project-count-inner p {
        font-size: 10px;
    }

    .project-count {
        padding: 10px;
    }





    .plan-title h1 {
        font-size: 28px;
    }

    .with-logo {
        padding: 10px 13px;
        top: -10%;
        left: 75%;
        font-size: 10px;
    }

    .project-inner-title {
        padding: 0px 5px;
    }

    .smart-url {
        margin-bottom: 5px;
    }


}