/* ==========Navigation Section Start======================================================*/
.col-9.nav-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.row.navi-wrapper {
    padding: 24px 0px;
    justify-content: center;
    align-items: center;
}

ul.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.col-3.logo a img {
    width: 50%;
}

ul.nav-wrapper a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-color);
    transition: 0.3s;
}

ul.nav-wrapper a:hover {
    color: var(--main-color);
}

.sign-up-btn button {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    padding: 11px 19px;
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
    border: none;
    border-radius: 4px;
}

.login-btn button {
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(152, 48, 247);
    padding: 9px 25px;
    border: 2px solid rgb(147, 46, 244);
    border-radius: 4px;
    background: rgb(255, 255, 255);
}

/* ==========Navigation Section Close======================================================*/
/* ==========Hero Section Start============================================================*/

.hero-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-sec {
    position: relative;
}

.hero-title {
    position: absolute;
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    width: 80%;
    text-align: center;
}

.hero-title h1 {
    color: var(--white);
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.145) 0px 4px 4px;
}

.hero-inner p {
    color: var(--white);
    font-size: 20px;
    margin-top: 20px;
    text-shadow: rgba(0, 0, 0, 0.145) 0px 4px 4px;
}

/* ==========Hero Section Close============================================================*/
/* ==========Qr Section Start============================================================*/

.container-fluid {
    background: var(--qr-back-color);
    padding: 85px 10px;
}

.qr-wrapper {
    background: rgb(0, 0, 0);
    padding: 50px 40px;
    align-items: center;
}

.smart-url {
    display: flex;
    align-items: center;
    position: relative;
    gap: 14px;
    padding: 6px 29px 9px 13px;
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 0.3s;
    overflow: hidden;
}

.smart-url:hover::before {
    width: 100%;
}

img.universal {
    width: 25px;
}

.smart-url a {
    color: var(--white);
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.smart-url::before {
    left: 0px;
    content: "";
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
    width: 0px;
    height: 100%;
    position: absolute;
    z-index: 0;
    transition: 0.5s;
    bottom: 0px;
    top: 0px;
}

h3.qr-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
    margin-top: 60px;
}

p.qr-para {
    color: var(--white);
    font-size: 18px;
    margin: 15px 0px 28px;
}

p.qr-genarat {
    width: fit-content;
    color: var(--white);
    font-size: 18px;
    padding: 19px 96px 19px 19px;
    background: rgba(255, 255, 255, 0.19);
    margin-bottom: 65px;
    border-radius: 6px;
}

.signup-btn button {
    color: var(--white);
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
}

.qr-code img {
    width: 75%;
    position: relative;
}

.with-logo {
    width: fit-content;
    padding: 15px 20px;
    border-radius: 100%;
    background: var(--main-color);
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    border: 2px solid var(--white);
    position: absolute;
    top: -9%;
    left: 74%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.145) 0px 4px 4px;
}

.qr-code {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dowenload-btn {
    width: 100%;
}

.dowenload-btn button {
    width: 100%;
    color: var(--white);
    padding: 21px;
    font-weight: 700;
    margin-top: 50px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
}

/* ==========Qr Section Close============================================================*/
/* ==========Smart Card Section Start============================================================*/

.smart-card {
    position: relative;
}

.smart-card-title h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 100px 0px 65px;
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%) text;
    color: transparent;
}

.small-size {
    display: none;
}

h4.card-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.row.smart-card-inner {
    align-items: center;
    margin-bottom: 40px;
}

.serial {
    width: 60px;
    position: absolute;
    inset: 18% 0px 23% 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

img.serial1 {
    margin-bottom: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.serial1::before, .serial2::before {
    content: "";
    background: var(--main-color);
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.card-p1 {
    padding: 10px 60px 10px 10px;
}

.card-p2 {
    padding: 10px 10px 10px 75px;
}

/* ==========Smart Card Section Close============================================================*/
/* ==========Project Section Start================================================================*/

.row.project-section {
    align-items: center;
}

.project-inner-title h6 {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to right, #4355B4 0%, #FA00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.project-inner-title {
    position: relative;
}

.project-inner-title h2 {
    font-size: var(--title-fs);
    color: #323232;
    font-weight: 700;
    margin-bottom: 67px;
}

.project-inner-title h2::before {
    content: "";
    position: absolute;
    background: var(--main-color);
    width: 21%;
    height: 4px;
    bottom: 0px;
    top: 108%;
    left: 2px;
    right: 0;
}

.project-count-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 20px;
}


.project-count-inner h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.project-count-inner p {
    font-size: 16px;
    line-height: 180%;
    font-weight: 600;
    color: #969696;
}

.project-count {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0px 20px 25px;
    border-radius: 12px;
    border: 2px solid #F2F2F2;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 27px 49px #00000010;
}

/* ==========Project Section Close================================================================*/
/* ==========Security Section Start================================================================*/
.security-title {
    position: relative;
}

.security-sec {
    padding: 100px 0px 60px 0px;
}

.security-title h6 {
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to right, #4355B4 0%, #FA00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    margin: auto;
}

.security-title h2 {
    font-size: var(--title-fs);
    color: #323232;
    font-weight: 700;
    margin-bottom: 67px;
    text-align: center;
}

.security-title h2::before {
    content: "";
    position: absolute;
    background: var(--main-color);
    width: 14%;
    height: 4px;
    top: 117%;
    left: 43%;
}

.security-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 60px 20px 44px 20px;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    box-shadow: 0px 14px 49px #6C54EA06;
    transition: .3s;
}


.security-card:hover.icon-border {
    border: 15px solid #FA00FF;

}

.security-card:hover {
    background: var(--main-color);
}

.security-card:hover .security-card-title, .security-card:hover .security-card-para {
    color: var(--white);


}

.security-card:hover .security-card-icon {
    border: 5px solid var(--white);
    outline: 5px solid #6C54EA;
}

.security-card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    position: absolute;
    top: -59px;
    border-radius: 100px;
    border: none;
    transition: .3s;
}

.security-card-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #323232;
    transition: .3s;
}

.security-card-para {
    text-align: center;
    line-height: 180%;
    font-size: 16px;
    color: #969696;
    margin-top: 10px;
    transition: .3s;

}



.col-lg-4.col-md-6 {
    margin-top: 85px;
}

/* ==========Security Section Close================================================================*/
/* ==========-Plan & Price Section Close================================================================*/
.plan-title {
    padding: 62px 10px 102px 10px;
}

.plan-title h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.plan-card {
    box-shadow: 5px 5px 5px #00000010;
}

.plan-title span {
    background: linear-gradient(to right, #7922E6 0%, #9D32FA 100%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.plan-title p {
    text-align: center;
    font-size: 16px;
    color: #162B60;
}

.plan-wrapper {
    background: url(../Icon/19.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.plan-card-top {
    padding: 30px 35px;
    background: #F8F8F8;
}

.plan-price-sec {
    background: #D6E7F3;
    padding-bottom: 89px;
}

.card-dynemic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card-dynemic span {
    background: #ffffff;
    padding: 5px 0px;
    border-radius: 5px;
    width: 37%;
    text-align: center;
    font-size: 14px;
    color: #162B60;
}

.card-dynemic p {
    font-size: 16px;
    color: #162B60;
}

button.add-cart {
    font-weight: 700;
    color: var(--white);
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
}

.plan-card-title p {
    font-size: 14px;
    color: #162B60;
    margin: 20px 0px 15px 0px;
}

.plan-card-title h3 {
    font-size: 24px;
    font-weight: 700;
    color: #162B60;
    line-height: 200%;
}

.plan-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 5px;
}

.plan-check img {
    width: 7%;
}

.plan-check span {
    font-size: 14px;
}

.plan-card-down {
    background: #ffffff;
    padding: 30px 35px;
}

/* ==========-Plan & Price Section Close================================================================*/
/* ==========Security Section Close================================================================*/

.card-work-head {
    position: relative;
}

.card-work-head h2 {
    font-size: var(--title-fs);
    color: #323232;
    font-weight: 700;
    margin: 50px 5px 30px 5px;
    text-align: center;
}

.card-work-head h2::before {
    content: "";
    position: absolute;
    background: var(--main-color);
    width: 15%;
    height: 4px;
    bottom: -16px;
    left: 42%;
}

.card-work-title p {
    text-align: center;
    width: 70%;
    margin: auto;
}

.work-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 21px 10px 16px 10px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

.work-card h3 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 16px 0px;
    transition: .3s;
    text-align: center;
}

.work-card-icon {
    padding: 10px;
    border-radius: 100px;
    transition: .3s;

}

.work-card-para {
    transition: .3s;
    text-align: center;
}

.work-card:hover {
    background: var(--main-color);
}

.work-card:hover .mission-icon {
    border: none;
    padding: 22px;
}

.work-card:hover .work-card-icon {
    background: var(--white);
}

.work-card:hover .work-card-para, .work-card:hover .work-card-title {
    color: var(--white);
}

.row.work-card-wrapper {
    margin: 35px 0px;
}

/* ==========Security Section Close================================================================*/
/* ==========Trust Section Start================================================================*/

.trust-title-para p {
    text-align: center;
    margin-top: -32px;
}

.our-trusted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    padding: 7px;
}

.trust-section {
    padding: 50px 0px;
}

.truster-bg {
    margin-top: 30px;
}

.truster a img {
    opacity: 25%;
}

/* ==========Trust Section Close================================================================*/
/* ==========Our Mission Section Start================================================================*/

.mission-icon {
    border: 2px solid #6C54EA;
    border-radius: 100px;
    padding: 20px;
    transition: .03s;
}

h3.work-card-title {
    font-size: 22px;
    text-transform: capitalize;
}


.worke-card {
    margin: 10px 0px;
}

/* ==========Our Mission Section Close================================================================*/
/* ==========swiper Section Start================================================================*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==========swiper Section Close================================================================*/
/* ==========Say Section Start================================================================*/

.title h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.title span {
    background: linear-gradient(to right, #7922E6 0%, #9D32FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.say-section {
    background: #D6E7F3;
    padding-bottom: 130px;
}

.say-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.say-profile h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
}

.say-profile p {
    text-align: center;
}

.say-card {
    padding: 30px;
    background: #FFF9FD;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 4px #00000011;
}

.fa-solid {
    background: linear-gradient(to right, #7922E6 0%, #9D32FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 10px;
    position: absolute;
}

/* ==========Say Section Close================================================================*/
/* ==========Quary Section Start================================================================*/

.quary-title h1 {
    margin-bottom: 0px;
    text-align: left;
}

.title p {
    font-size: 28px;
    font-weight: 600;
    color: #5A5A5A;
    padding: 14px 0px;
}

.toggole-btn {
    border: 1px solid #000;
    padding: 24px 20px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.row.quary-wrapper {
    align-items: center;
    justify-content: space-between;
}

.quary-img {
    padding-left: 60px;
}

.quary-section {
    margin: 104px 0px;
}

/* ==========Quary Section Close================================================================*/
/* ==========Blog Section Start================================================================*/
.card-title-img img {
    border-radius: 16px 16px 0px 0px;
}

.blog-card-title h3 {
    font-size: 18px;
    font-weight: 500;
    /* margin: 10px 0px; */
}

.blog-card-title p {
    font-size: 12px;
    font-weight: 400;
    color: #5A5A5A;
    line-height: 150%;
}

.read-more-btn a button {
    border: none;
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--white);
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
    margin: 17px 0px 12px 0px;
}

.view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 20px 10px;
}

.view-count span {
    font-size: 15px;
    color: #3A3A3A;
    margin-left: 3px;
}

.post-date {
    font-size: 15px;
    color: #3A3A3A;

}

.blog-card {
    border-radius: 16px;
    box-shadow: 0px 0px 15px 8px #00000007;
    margin-top: 30px;
}

.blog-card-title {
    padding: 10px;
}

.blog-wrapper {
    margin-top: 30px;
}

/* ==========Blog Section Close================================================================*/
/* ==========Footer Section Start================================================================*/
footer {
    background: #0C111D;
    padding: 75px 0px;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.footer-logo p {
    color: var(--white);
    margin-top: 30px;
}

.footer-link a p {
    color: var(--white);
    margin-bottom: 10px;
    font-size: 20px;
}

.sign-up button {
    border: none;
    padding: 10px 38px;
    border-radius: 34px;
    background: linear-gradient(to right, rgb(121, 34, 230) 0%, rgb(157, 50, 250) 100%);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

h3.follow-link {
    color: var(--white);
    font-size: 26px;
}

.facebook, .twitter, .in, .instragram {
    background: var(--white);
    padding: 5px 16px;
    border-radius: 100px;
}

.instragram {
    padding: 5px 14px;
}

.in {
    padding: 5px 13px;
}

.twitter {
    padding: 5px 13px;
}

p.reserve {
    font-size: 16px;
    color: var(--white);
    margin-top: 40px;
}

/* ==========Footer Section Close================================================================*/